@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  .black-background {
    position: absolute;
    width: 100%;
    height: fit-content;
    left: 0;
    background-color: black;
}

.service-name {
  width: 100px;
  height: 30px;
  background-color: white;
  color: black;
  text-align: center;
  line-height: 30px;
  border: none;
  border-radius: 0 10px 0 0;
  font-weight: 600;
}